[submodule "PACK"]
	path = PACK
	url = https://github.com/iphelix/pack.git
[submodule "hashcat-utils"]
	path = hashcat-utils
	url = https://github.com/hashcat/hashcat-utils.git
[submodule "princeprocessor"]
	path = princeprocessor
	url = https://github.com/hashcat/princeprocessor.git
[submodule "pack"]
	path = pack
	url = https://github.com/iphelix/pack.git
