{
  "hcatPath": "/path/to/hashcat",
  "hcatBin": "hashcat",
  "hcatTuning": "",
  "hcatPotfilePath": "~/.hashcat/hashcat.potfile",
  "hcatDebugLogPath": "./hashcat_debug",
  "hcatWordlists": "./wordlists",
  "rules_directory": "./hashcat/rules",
  "hcatDictionaryWordlist": ["rockyou.txt"],
  "hcatCombinationWordlist": ["rockyou.txt","rockyou.txt"],
  "hcatHybridlist": ["rockyou.txt"],
  "hcatMiddleCombinatorMasks": ["2","4"," ","-","_","+",",",".","&"],
  "hcatMiddleBaseList": "rockyou.txt",
  "hcatThoroughCombinatorMasks": ["0","1","2","3","4","5","6","7","8","9"," ","-","_","+",",","!","#","$","\"","%","&","'","(",")","*",".","/",":",";","<","=",">","?","@","[","\\","]","^","`","{","|","}","~"],
  "hcatThoroughBaseList": "rockyou.txt",
  "hcatGoodMeasureBaseList": "rockyou.txt",
  "hcatPrinceBaseList": "rockyou.txt",
  "pipalPath": "/path/to/pipal",
  "pipal_count" : 10,
  "bandrelmaxruntime": 300,
  "bandrel_common_basedwords": "welcome,password,p@ssword,p@$$word,changeme,letmein,summer,winter,spring,springtime,fall,autumn,monday,tuesday,wednesday,thursday,friday,saturday,sunday,january,february,march,april,may,june,july,august,september,october,november,december,christmas,easter,covid19",
  "hashview_url": "http://localhost:8443",
  "hashview_api_key": "",
  "hashmob_api_key": "",
  "ollamaModel": "mistral",
  "ollamaNumCtx": 2048,
  "omenTrainingList": "rockyou.txt",
  "omenMaxCandidates": 1000000,
  "passgptModel": "javirandor/passgpt-10characters",
  "passgptMaxCandidates": 1000000,
  "passgptBatchSize": 1024,
  "passgptTrainingList": "rockyou.txt",
  "check_for_updates": true
}
