{
  "hcatPath": "/path/to/hashcat",
  "hcatBin": "hashcat",
  "hcatTuning": "",
  "hcatPotfilePath": "auto",
  "hcatDebugLogPath": "~/.hate_crack/hashcat_debug",
  "hcatWordlists": "./wordlists",
  "hcatOptimizedWordlists": "./optimized_wordlists",
  "rules_directory": "./hashcat/rules",
  "hcatDictionaryWordlist": ["rockyou.txt"],
  "hcatCombinationWordlist": ["rockyou.txt","rockyou.txt"],
  "hcatHybridlist": ["rockyou.txt"],
  "hcatFingerprintWordlist": [],
  "hcatMiddleCombinatorMasks": ["2","4"," ","-","_","+",",",".","&"],
  "hcatMiddleBaseList": "rockyou.txt",
  "hcatThoroughCombinatorMasks": ["0","1","2","3","4","5","6","7","8","9"," ","-","_","+",",","!","#","$","\"","%","&","'","(",")","*",".","/",":",";","<","=",">","?","@","[","\\","]","^","`","{","|","}","~"],
  "hcatThoroughBaseList": "rockyou.txt",
  "hcatGoodMeasureBaseList": "rockyou.txt",
  "hcatPrinceBaseList": "rockyou.txt",
  "bandrelmaxruntime": 300,
  "bandrel_common_basedwords": "welcome,password,p@ssword,p@$$word,changeme,letmein,summer,winter,spring,springtime,fall,autumn,monday,tuesday,wednesday,thursday,friday,saturday,sunday,january,february,march,april,may,june,july,august,september,october,november,december,christmas,easter,covid19",
  "hcatCorpusProfileMaxLines": 5000000,
  "omenMaxCandidates": 100000000,
  "pcfgRuleset": "Default",
  "pcfgMaxCandidates": 50000000,
  "pcfgPrinceLingMaxCandidates": 10000000,
  "hcatSmartMaskMinClusterSize": 3,
  "hcatHybridIncrementRuntime": 3600,
  "check_for_updates": true,
  "optimizedKernelAttacks": [
    "hcatDictionary", "hcatQuickDictionary", "hcatBandrel", "hcatGoodMeasure",
    "hcatRecycle", "hcatBruteForce", "hcatTopMask", "hcatRosettaMask",
    "hcatPathwellBruteForce", "hcatCorporateMasks", "hcatAdHocMask",
    "hcatMarkovBruteForce", "hcatFingerprint",
    "hcatCombination", "hcatCombinator3", "hcatCombinatorX", "hcatHybrid",
    "hcatYoloCombination", "hcatMiddleCombinator", "hcatThoroughCombinator",
    "hcatCombipow", "hcatPrince", "hcatPermute", "hcatPCFG", "hcatSmartMask"
  ],
  "notify_enabled": false,
  "notify_per_crack_enabled": false,
  "notify_attack_allowlist": [],
  "notify_suppress_in_orchestrators": true,
  "notify_max_cracks_per_burst": 5,
  "notify_poll_interval_seconds": 5.0,
  "debug": false,
  "weakpass_min_rank": -1,
  "update_channel": "main",
  "restore_potfile_on_start": false,
  "rule_debug_mode_enabled": true,
  "coverage_enabled": true
}
